# Dependencies
node_modules/

# Build outputs
out/
dist/
*.vsix
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Editor/IDE
.vscode/
*.code-workspace

# OS/Temp
.DS_Store
Thumbs.db
*.tmp
